<mat-card-content style="padding: 50px;">
  <form [formGroup]="vehiculosForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Adicionar vehiculos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Vehiculo" formControlName="vehiculo">
              <mat-error *ngIf="vehiculosForm.controls['vehiculo'].hasError('required')">
                La marca del vehiculo es  <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Color del vehiculo" formControlName="color">
              <mat-error *ngIf="vehiculosForm.controls['color'].hasError('required')">
                El color del vehiculo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Model del vehiculo" formControlName="modelo">
              <mat-error *ngIf="vehiculosForm.controls['modelo'].hasError('required')">
                El modelo del vehiculo es  <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Placa del vehiculo" formControlName="placa">
              <mat-error *ngIf="vehiculosForm.controls['placa'].hasError('required')">
                La placa del vehiculo es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        
          <!-- <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="vehiculosForm.controls['state'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div> -->
        
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-card-content>